<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brewery.name %>
</p>

<p>
  <b>Location:</b>
  <%= @brewery.location %>
</p>

<p>
  <b>Tasting room:</b>
  <%= @brewery.tasting_room %>
</p>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
